<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Auth Template</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>My Application</h2>

    <div>
      <button onclick="lock.show();">Login</button>
    </div>

    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script type="text/javascript">
      var lock = new Auth0Lock('qmnpJhjSeeA5S5lxPFdqIABEsTL4RDqK', 'changamanda.auth0.com', {
        auth: {
          redirectUrl: 'http://localhost:3000/callback',
          responseType: 'code',
          params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
          }
        }
      });
    </script>
  </body>
</html>
