body {
  padding: 50px;
  font: 14px 'Exo', "Lucida Grande", Helvetica, Arial, sans-serif;
  /*text-align: center;*/
}

#login-page {
  font: 14px 'Exo', "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}
#login-page h1 {
  font-size: 6em;
  padding-bottom: 2%;
}

h2 {
  font-size: 6em;
  /*padding-bottom: 2%;*/
}
.panel {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.panel-title {
  font-size: 2em;
  text-align: center;
}
.profile {
  text-align: center;
}
.col-lg-10 {
  margin-bottom: 40px;
}
.login-button, .tracker-button {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.number-alerts {
  font-weight: bold;
}
p {
  font-size: 1.3em;
}
.cert-title, .dash {
  font-weight: bold;
}
.dash {
  font-size: 1.4em;
}
/*#tracker {
  max-height: 50%;
}*/

a {
  color: #00B7FF;
}
